.signup-form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 15%;
    
  }
  
  .signup-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .signup-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-form button {
    width: 105%;
    padding: 10px 20px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-form button:hover {
    background-color: #222222;
  }
  